
.AuthorDetails {
    font-family: 'EB Garamond', serif;
    color: #262626;
    font-size: 16px;
}

.AuthorDetails h2 {
    text-align: center;
    font-size: 21px;
}

.authorDetails__heading {
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
}

.authorDetails-info {
    text-align: center;
    color: #505050;
    font-size: 18px;
    margin-bottom: 30px;
}
